@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('/fonts/SVN-Gilroy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SVN-Gilroy', Arial, sans-serif;
}